input[type="submit"] {
    border: none;
    width: fit-content;
    margin: 0;
    padding: 0;
    background-color: white;
    color: grey;
    border-bottom: 2px solid grey;
    /* background:linear-gradient(180deg, transparent 60%, salmon 40%); */
}

.total-price {
    display: block;
    float: right;
}

.checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

