body {
    padding: 0 40px;
}



.navbar {
    height: 40px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.navbar a {
    display: inline;
    padding: 10px;
}

#search {
    padding: 0 30px;
    width: 30vw;
    border-radius: 20px;
    border: 2px solid grey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#search:focus {
    border: 2px solid lightsalmon;
}

#home {
    margin-left: 100px;
}

nav a:link, a:visited{
    text-decoration: none;
    color: grey;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: lightsalmon;;
}

.dropdown {
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: grey;
    padding: 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
}

/* .item {
    width: 10vw;
    height: 10vh;
    border: 2px solid black;
} */

.item img {
    width: 20vw;
}
