
table, th, td {
    border: 3px solid black;
    text-align: center;
    }
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 3px solid black;
    text-align: center;
    flex-wrap: wrap;
  
}
th{
    font-size: 14px;
    padding: 6px;
    color:#fff;
    background: #000000;
    font-weight: 500;
    border: 3px solid black;
    text-align: center;
    overflow-wrap: break-word;
    width: fit-content;
}
td{
    font-size: 20px;
    padding: 10px 5px;
    border: 3px solid black;
    text-align: center;
}

