.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.item-view {
    display: block;
    padding: 80px 0;
    min-width: fit-content;
}

.item-view-name, .item-view-price, .item-view-colour, .item-view-size, .item-view-size-info {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 400;
    font-size: large;
}

/* .item-view-colour-blob {

} */

/* size style */ 
.sizes {
    display: flex;
    flex-direction: row;
}

.available {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background-color: lightsalmon;
    text-align: center;
}

.not-available {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background-color: grey;
    text-align: center;
}

.add-btn {
    width: 20vw;
    padding: 20px;
    background-color: lightsalmon;
    border: none;
    border: 2px solid white;
}

.add-btn:hover{
    width: 20vw;
    padding: 20px;
    background-color: lightsalmon;
    border: 2px solid black;
}

.update-btn, .remove-btn {
    width: 10vw;
    padding: 20px;
    background-color: lightsalmon;
    border: none;
    border: 2px solid white;
}

.update-btn:hover, .remove-btn:hover {
    width: 10vw;
    padding: 20px;
    background-color: lightsalmon;
    border: 2px solid black;
}

.product-details-title, .shipping-returns-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.admin-btn {
    display: flex;
    flex-direction: row;
}

.colour-btns {
    display: flex;
    flex-direction: row;
    
}

.btn-colour{
    border: none;
    border: 2px solid lightgrey;
    margin: 10px;
    padding: 10px;
}

.btn-colour:active{
    border: none;
    border: 2px solid lightskyblue;
    margin: 10px;
    padding: 10px;
}

::selection {
    border: 2px solid lightskyblue;
}
/* .btn-colour:focus {
    border: 2px solid red;
} */